{% extends 'index.html' %}
{% block title %}Главная{% endblock %}
{% block body %}

<div class="maincontent">
    <div class="intro">
        <div class="introleft">
            <h1>Самые нужные и полезные вам формулы по разным предметам!</h1>
            <p>У нас ты найдешь множество формул, которые помогут тебе
            выполнять правильно домашние задания. Благодаря им ты подтянешь
            успеваемость, а также хорошо подготовишься к экзаменам!
            </p> 
        </div>
        <img class="kartinka2" src="{{ url_for('static',filename='kartinka.jpg') }}" alt="">
    </div>
    
    <div class="title">
                                  <div class="card">
                                      <h3>Алгебра</h3>
                                      {% for el in data %}
                                      <a href="algeb{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Геометрия</h3>
                                      {% for el in data1 %}
                                      <a href="geometr{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Физика</h3>
                                      {% for el in data2 %}
                                      <a href="fiz{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Информатика</h3>
                                      {% for el in data3 %}
                                      <a href="inf{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                              </div>
                              <selction id="about">
                              <div class="aboutus" id="about">
                                  <h2>О нас</h2>
                                  <p>Создание сайта с формулами по алгебре, геометрии, 
                                      физике и информатике стало для нас, школьников, важным 
                                      и увлекательным проектом, который решает несколько задач. 
                                      Прежде всего, мы столкнулись с проблемой, когда при 
                                      подготовке к занятиям или выполнении домашних заданий 
                                      порой сложно быстро найти необходимые формулы 
                                      и теоретические материалы. В результате возникла идея 
                                      создать удобную онлайн-платформу, которая бы объединила 
                                      всю эту информацию в одном месте.
                                  </p>
                                  <p>
                                      Наш сайт призван облегчить жизнь не только нам, но и другим учащимся. 
                                      Он будет полезен как для подготовки к урокам, так и для повторения материала 
                                      перед контрольными и экзаменами. Мы стараемся сделать навигацию интуитивно понятной, 
                                      чтобы каждый мог быстро находить нужные ему формулы и применять их на практике.
                                  </p>
                                  <p>Кроме того, процесс создания сайта развивает наши навыки в области информатики 
                                      и веб-дизайна. Мы учимся работать в команде, распределяем задачи и решаем 
                                      возникающие проблемы вместе. Этот проект не только помогает углубить наши 
                                      знания в точных науках, но и дает реальный опыт в программировании и управления проектами. 
                                      Так     мы создаем полезный ресурс и в то же время развиваем свои способности и креативность.</p>
                              </div>
                            </selction>
                            <section id="contact">
                              <div class="contacts" id="contact">
                                  <h2>Контакты</h2>
                                  <p><b>Электронная почта:</b> olimpproject5@gmail.com</p>
                                  <p><b>Адрес:</b> Владимирская Область, Собинский Район, село Бабаево, Лагерь Олимп</b></p>
                                  <div class="map">
                                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71233.4676522175!2d40.02098321914673!3d56.08712303741278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414b804e5d513971%3A0x2d10a2b77e8a58b2!2z0JPQkNCj0JLQniDQodCe0KYgItCe0LvQuNC80L8i!5e0!3m2!1sru!2sru!4v1732785643075!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                  </div>
                              </div>
                            </section>
</div>

{% endblock %}