<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Волшебная формула</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="logo">
                <img class="kartinka"src="logo.png" alt="">
            </div>
            <div class="nav">
                <a href="index.html"><b>Главная</b></a>
                <a href="index.html#about"><b>О нас</b></a>
                <a href="index.html#contact"><b>Контакты</b>
                </a>
            </div>
        </div>
        
        <div class="footer">
            <p><strong>FormulWorld</strong></p>
            <p>© 2024. Все права защищены.</p>
        </div>
    </div>
</body>
</html