{% extends 'index.html' %} {% block title %}Главная{% endblock %} {% block
body%}

<div class="maincontent">
  <h1 class="magicformul">Формулы, которые вам помогут.</h1>
  <h2 class="tema">{{tema}}</h2>
  <div class="formuls">
    <div class="form">
      <h2>Формула</h2>
      <!-- <p><strong>Формула1</strong>.</p> -->
      <p><strong></strong>{{form}}</p>
    </div>
    <div class="form">
      <h2>Объяснение и расшифровка</h2>
      <p><strong></strong>{{example}}</p>
    </div>
  </div>
</div>
{% endblock%}
